.base-block {
    background-color: map-get($base-colours, 'black');
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    padding-top: map-get($base-spacing, '4'); 
    margin-bottom: map-get($base-spacing, '4'); 
    display: block;
    @include md {
      padding-top: map-get($base-spacing, '5'); 
      margin-bottom: map-get($base-spacing, '5');
    }
}