/* conor specific*/
.conor-header-logo {
  font-family: $conor-header-family;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: .83;
  color: inherit;
  display: block;
  padding: map-get($base-spacing, '6') 0 map-get($base-spacing, '4') 0; 
  @include md {
    font-size: 6rem;
    padding: map-get($base-spacing, '9') 0 map-get($base-spacing, '5') 0; 
  }
}
.conor-social-link {
  display:inline-block;
  cursor: pointer;
  text-decoration: none; 
  background-color: map-get($base-colours, 'black');
  color: map-get($base-colours, 'white');
  padding:.8rem;
  margin:0 .8rem 1.2rem 0;
  &:link {
    color: map-get($base-colours, 'white');
  }
  &:visited {
    color: map-get($base-colours, 'white');
  }
  &:hover {
    color: map-get($base-colours , 'green' );
    }
  &:focus {
    @include focus-style;
  }
}

.conor-nav-container {
    position:relative;
    overflow: visible;
  }
  
  .conor-nav-container::after{
    @include md {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: map-get($base-colours, 'pink');
      background-image: url(../assets/conor-scribble.svg);
      background-repeat:no-repeat;
      background-position: top left;
      background-size: contain;
      background-origin: content-box;
      transform: rotate(-2deg);
      transform-origin: top center;
      width:49.5%;
      height:100%;
      top:0;
      left:0;
      }
  }
  
  .conor-nav {
    position:relative;
    overflow-x: hidden !important;
    overflow-y: visible !important;
  }
  .conor-nav::before{
    content: "";
      position: absolute;
      z-index: -1;
      background-color: map-get($base-colours, 'pink');
      transform: rotate(-2deg);
      transform-origin: top left;
      width:100%;
      height:100%;
      top:0;
      left:0;
      margin-right: 1.6rem;
      
      @include md {
        width: 0;
        height:0;
      }
  }

  .conor-navlist {
 margin-top: map-get($base-spacing, '4');
 margin-bottom: map-get($base-spacing, '4');
    font-family: $base-font-family;
    font-size: 2rem;
    line-height: $base-line-height;
    font-weight: $base-font-weight-bold;
    color: inherit;
list-style: none;
    @include md {
      font-size: 2.8rem;
  }
  }
  .conor-navitem {
    margin:0;
    padding:map-get($base-spacing, '1') 0;
    display:block;
    @include md {
        padding:map-get($base-spacing, '4') 0;

      }  
}
.conor-navitem::before {
  content:"- ";
}



.conor-navlink {
    cursor: pointer;
    text-decoration: underline; 
    padding:0;
    margin:0;
    &:link {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
    &:hover {
      color: inherit;
        text-decoration: underline;
      }
    &:focus {
      @include focus-style;
    }
  }
  
  .conor-rotate--plus2{
    transform: rotate(2deg);
    transform-origin: top left;
    overflow: hidden;
  }
  
  .conor-rotate--minus2{
    transform: rotate(-2deg);
    transform-origin: top left;
    overflow: hidden;
  }
  
  .conor-hide--small {
    display:none;
    @include md{
      display:block;
    }
  }