/* What to show when jaavscript is enabled in browser */
.js-enabled .base-navbutton{
    display:inline-block;
    @include md {
        display:none;
    }
}

.js-enabled .base-navbar{
    display:none;
    @include md {
        display:block;
    }
}