
// font size variables
$base-line-height: 1.32;

$base-font-sizes: (
  'header-logo': 2.8rem,
  'h1': 4.8rem,
  'h2': 3.6rem,
  'h3': 2.8rem,
  'h4': 2.1rem,
  'intro-text': 2.4rem,
  'text': 1.9rem,
  'small-text': 1.6rem,
  'header-logo-sm': 2.1rem,
  'h1-sm': 3.6rem,
  'h2-sm': 3.0rem,
  'h3-sm': 2.4rem,
  'h4-sm': 2.0rem,
  'intro-text-sm': 2.2rem,
  'text-sm': 1.6rem,
  'small-text-sm': 1.4rem,
);

$base-spacing: (
  '0': 0,
  '1': 0.5rem,
  '2': 0.7rem,
  '3': 1.0rem,
  '4': 1.5rem,
  '5': 2.0rem,
  '6': 2.5rem,
  '7': 3.0rem,
  '8': 3.5rem,
  '9': 4.0rem,
  '10': 5.0rem,
  '11': 6.0rem,
  '12': 7.0rem,
);

$base-grid-widths: (
  one-sixth: 16.6666%,
  one-quarter: 25%,
  one-third: 33.3333%,
  one-half: 50%,
  two-sixths: 33.3333%,
  two-thirds: 66.6666%,
  three-quarters: 75%,
  full: 100%
)